.Card {
    max-width: 300px;
    border: 1px solid black;
    border-radius: 8px;
  }
  
  .Card__image {
    width: 64px;
    height: 64px;
  }
  
  .Card__title {
    font-size: 1.225rem;
  }
  
  .Card__description {
    font-size: 0.825rem;
  }

  .Card__type {
    padding: 20px;
    text-align: right;
    font-weight: bold;
    font-size: 25px;
  }
  
  .Card__number {
    width: 100%;
    font-size: 30px;
    font-weight: 300;
  }

  .Card-left {
    text-align: left;
 
  }

  .Card__text {
    padding-left: 33px;
    padding-right: 33px;
  }